In [1]:
import pandas as pd

#!pip install openpyxl

In [2]:
df = pd.read_csv(r"data\Cancer_Data.csv")
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [3]:
df2 = pd.read_excel(r"data\fastfood.xlsx")
df2.head()

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other

In [4]:
df2.to_excel('ex.xlsx', index=False)

In [5]:
df.to_csv('teste.csv', sep= ';')

In [6]:
df2 = df2.set_index("item")
df2.head(2)

,restaurant,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
item,,,,,,,,,,,,,,,,
Artisan Grilled Chicken Sandwich,Mcdonalds,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
Single Bacon Smokehouse Burger,Mcdonalds,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other

In [7]:
df2 = df2.reset_index()
df2.head(2)

,item,restaurant,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Artisan Grilled Chicken Sandwich,Mcdonalds,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Single Bacon Smokehouse Burger,Mcdonalds,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other

In [8]:
list(df2.columns)

['item',
 'restaurant',
 'calories',
 'cal_fat',
 'total_fat',
 'sat_fat',
 'trans_fat',
 'cholesterol',
 'sodium',
 'total_carb',
 'fiber',
 'sugar',
 'protein',
 'vit_a',
 'vit_c',
 'calcium',
 'salad']

In [9]:
df2.columns = ['item',
 'restaurantttttt',
 'calories',
 'cal_fat',
 'total_fat',
 'sat_fat',
 'trans_fat',
 'cholesterol',
 'sodium',
 'total_carb',
 'fiber',
 'sugar',
 'protein',
 'vit_a',
 'vit_c',
 'calcium',
 'salad']

In [10]:
df2

,item,restaurantttttt,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Artisan Grilled Chicken Sandwich,Mcdonalds,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Single Bacon Smokehouse Burger,Mcdonalds,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Double Bacon Smokehouse Burger,Mcdonalds,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Grilled Bacon Smokehouse Chicken Sandwich,Mcdonalds,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Crispy Bacon Smokehouse Chicken Sandwich,Mcdonalds,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Spicy Triple Double Crunchwrap,Taco Bell,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Express Taco Salad w/ Chips,Taco Bell,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Fiesta Taco Salad-Beef,Taco Bell,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Fiesta Taco Salad-Chicken,Taco Bell,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Fiesta Taco Salad-Steak,Taco Bell,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [11]:
df2['paÃ­s'] = 55
df2.head()

,item,restaurantttttt,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad,paÃ­s
0,Artisan Grilled Chicken Sandwich,Mcdonalds,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other,55
1,Single Bacon Smokehouse Burger,Mcdonalds,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other,55
2,Double Bacon Smokehouse Burger,Mcdonalds,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other,55
3,Grilled Bacon Smokehouse Chicken Sandwich,Mcdonalds,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other,55
4,Crispy Bacon Smokehouse Chicken Sandwich,Mcdonalds,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other,55

In [12]:
df2[(df2.calories>1000) & (df2.cal_fat < 500)]

,item,restaurantttttt,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad,paÃ­s
121,4 Piece Super Crunch Chicken Strip Dinner,Sonic,1080,460,51,9,1,75,2390,118,8.0,9,37.0,1.0,7.0,13.0,Other,55
175,Triple Decker Sandwich,Arbys,1030,459,51,17,1,155,2940,83,5.0,19,62.0,NaN,NaN,NaN,Other,55
269,4 Piece Chicken Strip Basket w/ Country Gravy,Dairy Queen,1030,480,53,9,1,80,2780,105,9.0,4,35.0,2.0,0.0,10.0,Other,55
318,Footlong Carved Turkey & Bacon w/ Cheese,Subway,1140,460,52,14,0,140,3200,92,10.0,16,66.0,20.0,40.0,80.0,Other,55

In [13]:
df2.loc[50:60, ['item', 'calories']]

                                            item  calories
50         Premium Asian Salad w/ Crispy Chicken       490
51         Premium Bacon Ranch Salad w/o Chicken       190
52  Premium Bacon Ranch Salad w/ Grilled Chicken       320
53   Premium Bacon Ranch Salad w/ Crispy Chicken       490
54           Premium Southwest Salad w/o Chicken       220
55    Premium Southwest Salad w/ Grilled Chicken       350
56     Premium Southwest Salad w/ Crispy Chicken       520
57             Chargrilled Chicken Club Sandwich       430
58                  Chargrilled Chicken Sandwich       310
59                                Chick-n-Slider       270
60                        1 Piece Chick-n-Strips       120

In [14]:
df2.iloc[50:60, :]

,item,restaurantttttt,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad,paÃ­s
50,Premium Asian Salad w/ Crispy Chicken,Mcdonalds,490,250,28,8,0,95,1120,28,4.0,4,33.0,180.0,60.0,15.0,Other,55
51,Premium Bacon Ranch Salad w/o Chicken,Mcdonalds,190,110,12,5,0,40,660,9,3.0,3,14.0,180.0,50.0,15.0,Other,55
52,Premium Bacon Ranch Salad w/ Grilled Chicken,Mcdonalds,320,120,14,6,0,45,1230,9,3.0,4,42.0,180.0,60.0,15.0,Other,55
53,Premium Bacon Ranch Salad w/ Crispy Chicken,Mcdonalds,490,250,28,8,0,95,1120,28,4.0,4,33.0,180.0,60.0,15.0,Other,55
54,Premium Southwest Salad w/o Chicken,Mcdonalds,220,90,10,2023-05-03 00:00:00,0,15,500,26,6.0,9,8.0,180.0,40.0,20.0,Other,55
55,Premium Southwest Salad w/ Grilled Chicken,Mcdonalds,350,100,12,2023-05-04 00:00:00,0,110,1070,27,6.0,9,37.0,180.0,50.0,20.0,Other,55
56,Premium Southwest Salad w/ Crispy Chicken,Mcdonalds,520,230,25,6,0,75,960,46,8.0,9,28.0,180.0,40.0,20.0,Other,55
57,Chargrilled Chicken Club Sandwich,Chick Fil-A,430,144,16,8,0,85,1120,37,3.0,7,37.0,30.0,40.0,25.0,Other,55
58,Chargrilled Chicken Sandwich,Chick Fil-A,310,54,6,2,0,55,820,36,3.0,7,29.0,25.0,40.0,10.0,Other,55
59,Chick-n-Slider,Chick Fil-A,270,99,11,2023-05-02 00:00:00,0,45,800,26,1.0,4,16.0,NaN,0.0,2.0,Other,55

In [15]:
df2.drop('paÃ­s', axis=1)

,item,restaurantttttt,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Artisan Grilled Chicken Sandwich,Mcdonalds,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Single Bacon Smokehouse Burger,Mcdonalds,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Double Bacon Smokehouse Burger,Mcdonalds,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Grilled Bacon Smokehouse Chicken Sandwich,Mcdonalds,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Crispy Bacon Smokehouse Chicken Sandwich,Mcdonalds,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Spicy Triple Double Crunchwrap,Taco Bell,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Express Taco Salad w/ Chips,Taco Bell,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Fiesta Taco Salad-Beef,Taco Bell,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Fiesta Taco Salad-Chicken,Taco Bell,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Fiesta Taco Salad-Steak,Taco Bell,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other

In [16]:
df2.iloc[:,0:2]

                                          item restaurantttttt
0             Artisan Grilled Chicken Sandwich       Mcdonalds
1               Single Bacon Smokehouse Burger       Mcdonalds
2               Double Bacon Smokehouse Burger       Mcdonalds
3    Grilled Bacon Smokehouse Chicken Sandwich       Mcdonalds
4     Crispy Bacon Smokehouse Chicken Sandwich       Mcdonalds
..                                         ...             ...
510             Spicy Triple Double Crunchwrap       Taco Bell
511                Express Taco Salad w/ Chips       Taco Bell
512                     Fiesta Taco Salad-Beef       Taco Bell
513                  Fiesta Taco Salad-Chicken       Taco Bell
514                    Fiesta Taco Salad-Steak       Taco Bell

[515 rows x 2 columns]

In [17]:
df2.describe().round(1)

,calories,cal_fat,total_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,paÃ­s
count,515.0,515.0,515.0,515.0,515.0,515.0,503.0,515.0,514.0,301.0,305.0,305.0,515.0
mean,530.9,238.8,26.6,72.5,1246.7,45.7,4.1,7.3,27.9,18.9,20.2,24.9,55.0
std,282.4,166.4,18.4,63.2,690.0,24.9,3.0,6.8,17.7,31.4,30.6,25.5,0.0
min,20.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,55.0
25%,330.0,120.0,14.0,35.0,800.0,28.5,2.0,3.0,16.0,4.0,4.0,8.0,55.0
50%,490.0,210.0,23.0,60.0,1110.0,44.0,3.0,6.0,24.5,10.0,10.0,20.0,55.0
75%,690.0,310.0,35.0,95.0,1550.0,57.0,5.0,9.0,36.0,20.0,30.0,30.0,55.0
max,2430.0,1270.0,141.0,805.0,6080.0,156.0,17.0,87.0,186.0,180.0,400.0,290.0,55.0

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item             515 non-null    object
 1   restaurantttttt  515 non-null    object
 2   calories         515 non-null    int64
 3   cal_fat          515 non-null    int64
 4   total_fat        515 non-null    int64
 5   sat_fat          515 non-null    object
 6   trans_fat        515 non-null    object
 7   cholesterol      515 non-null    int64
 8   sodium           515 non-null    int64
 9   total_carb       515 non-null    int64
 10  fiber            503 non-null    float64
 11  sugar            515 non-null    int64
 12  protein          514 non-null    float64
 13  vit_a            301 non-null    float64
 14  vit_c            305 non-null    float64
 15  calcium          305 non-null    float64
 16  salad            515 non-null    object
 17  paÃ­s             515 non-null    int64
dtypes: float64(5), int64(8), object(5)
memory usage: 72.5+ KB

In [19]:
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [20]:
df['diagnosis'] = df['diagnosis'].str.replace("B" , "Benigno")
df['diagnosis'] = df['diagnosis'].str.replace("M" , "Maligno")
df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,Maligno,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,Maligno,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,Maligno,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,Maligno,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,Maligno,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,Maligno,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,Maligno,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,Maligno,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,Maligno,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,Benigno,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN